.photo-viewer {
  width: 70vw;
  height: 60vh;
  background-color: rgb(232, 232, 232);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(60, 64, 67, 0.5), 0 24px 48px rgba(60, 64, 67, 0.6);
}

.left {
  flex: 0 0 200px;
}
.left__header {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 19px;
  align-items: center;
  gap: 8px;
  border-radius: 12px 0 0 0;
}
.left__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 200px;
  font-size: small;
}
.left__menu__title {
  font-size: small;
  padding-left: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.left__menu__option {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 160px;
  padding: 3px 10px 3px 10px;
  border-radius: 4px;
  gap: 5px;
}
.left__menu__option img {
  height: 15px;
  width: 15px;
}
.left__menu__option--clicked {
  background-color: rgb(175, 175, 175);
}

.right {
  flex: 1;
  border-radius: 0 12px 12px 0;
}
.right__header {
  height: 50px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  border-radius: 0 12px 0 0;
  padding-left: 10px;
}
.right__header > h3 {
  padding-left: 7px;
}
.right__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right__icon img {
  width: 50px;
  height: 50px;
}
.right__icon__container {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 80px);
  border-radius: 0 0 12px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 30px;
}
.right__icon__album {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.right__icon__album--hidden {
  display: none;
}
.right__button {
  height: 25px;
  width: 30px;
  border-radius: 5px;
  border: none;
  display: none;
}

.Img-1 {
  position: absolute;
  height: 500px;
  width: 500px;
  background-image: url("../../src/edit.jpg");
}
