* {
  margin: 0;
  padding: 0;
}

.red {
  background-color: rgb(249, 94, 94);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style-type: none;
}

.yellow {
  background-color: rgb(247, 221, 119);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style-type: none;
}

.green {
  background-color: rgb(113, 249, 127);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style-type: none;
}

.banner {
  width: 100vw;
  position: absolute;
  top: 0;
  background: rgba(173, 216, 230, 0.3);
}
.banner__list {
  opacity: 100%;
  display: flex;
  padding-left: 0px;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}
.banner__menu--hidden {
  display: none;
}
.banner__menu--show {
  position: absolute;
  top: 20px;
  z-index: 10;
}
.banner__menu--show ul {
  list-style-type: none;
  padding-left: 5px;
}
.banner li {
  padding: 10px 10px;
  font-size: 15px;
}

.desktop {
  height: 100vh;
  width: 100%;
  background-color: rgb(196, 255, 196);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -6;
}
.desktop__container {
  height: calc(100% - 20px);
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  top: 20px;
  background-color: rgb(255, 255, 198);
  z-index: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.dock__container {
  height: 80px;
  z-index: 998;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
}
@media only screen and (min-width: 1000px) and (max-width: 1800px) {
  .dock__container {
    height: 100px;
    bottom: 10px;
  }
}
@media only screen and (min-width: 1800px) {
  .dock__container {
    height: 120px;
    bottom: 10px;
  }
}
.dock__wrap {
  padding: 0 20px;
  margin-top: 2.5px;
  display: flex;
  list-style-type: none;
  width: auto;
  background-color: rgb(202, 186, 255);
  height: 90%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.3); /* Adjust the opacity for the glassy effect */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); /* Shadow for the glassy effect */
  backdrop-filter: blur(10px);
}
.dock__item {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  background-color: black;
}
@media only screen and (min-width: 1000px) and (max-width: 1800px) {
  .dock__item {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 1800px) {
  .dock__item {
    height: 50px;
    width: 50px;
  }
}

#htmlRef-calc {
  align-self: center;
  z-index: 5;
}

#htmlRef-photo {
  align-self: center;
  z-index: 5;
}

#htmlRef-notes {
  align-self: center;
  z-index: 5;
}

#htmlRef-modal {
  align-self: center;
  z-index: 7;
}
