* {
  margin: 0;
}

.red {
  background-color: rgb(249, 94, 94);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style-type: none;
}
.yellow {
  background-color: rgb(247, 221, 119);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style-type: none;
}
.green {
  background-color: rgb(113, 249, 127);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style-type: none;
}

.banner {
  width: 100vw;
  position: relative;
  background-color: lightblue;

  &__list {
    display: flex;
    padding-left: 0px;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
  }

  &__menu {
    &--hidden {
      display: none;
    }
    &--show {
      position: absolute;
    }
  }

  li {
    padding: 10px 10px;
    font-size: 15px;
  }
}

.desktop {
  height: calc(100vh - 100px);
  background-color: rgb(196, 255, 196);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dock {
  &__container {
    height: 80px;
    background-color: pink;
    z-index: 998;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  &__wrap {
    padding: 0 10px;
    margin-top: 2.5px;
    display: flex;
    list-style-type: none;
    width: auto;
    background-color: rgb(202, 186, 255);
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 18px;

    background: rgba(
      255,
      255,
      255,
      0.3
    ); /* Adjust the opacity for the glassy effect */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); /* Shadow for the glassy effect */
    backdrop-filter: blur(10px);

    li {
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 50px;
    }
  }
}

#htmlRef-calc {
  align-self: center;
}

#htmlRef-photo {
  align-self: center;
}
